.sapUiFPMExplorerFileEditor {
	display: flex;
	flex-direction: column;
}

.sapUiFPMExplorerFileEditor .sapUiFPMExplorerFileEditorContent {
	flex: 1;
}

.ace_import_link {
	background-color: #e3f2fd !important;
	border-bottom: 1px dashed #1976d2 !important;
	color: #1976d2 !important;
	cursor: pointer !important;
}
