/* Enter your custom styles here */
.sapUiFlVarMngmt .sapMTitle.sapUiFlVarMngmtTitle {
    padding-top: 0.85rem;
    vertical-align: top;
}

#ganttVariantManagementContainer-GanttVariantManagement---MainView--ganttContainerToolbar-variantManagement-managementdialog {
    box-sizing: content-box;
    min-height: 2.75rem;
    padding-bottom: 2.75rem;
    width: 50%;
}