.sapUiCEPSearchPag .sapMBtnDisabled.sapUiCEPSearchPagNumber {
  opacity: 1 !important;
}
.sapUiCEPSearchPag .sapMBtn:hover .sapMBtnDefault {
  border-color: transparent !important;
  box-shadow: unset !important;
}
.sapUiCEPSearchPag .sapMBtn .sapMBtnDefault {
  background-color: transparent !important;
  border-color: transparent;
  font-family:inherit !important;
}
.sapUiCEPSearchPag .sapUiCEPSearchPagNumber .sapMToggleBtnPressed {
  color: var(--sapUiBaseText) !important;
  font-weight: bold;
  border-color: transparent;
}
.sapUiCEPSearchPag .sapMBtnDefault, .sapUiCEPSearchPag .sapMBtn:not(.sapMToggleBtnPressed) .sapUiIcon {
  color: var(--sapUiLinkActiveColor) !important;
}
