.WelcomeSplash {
    font-size: 4rem;
    /*color: white;*/
    margin-bottom: 15px;
}

.AppBackground {
}

.logo-image {
    margin-top: 150px;
    margin-bottom: 80px;
    width: 15rem;
}

.logo-image-ui5 {
    margin-top: 6rem;
    margin-bottom: 2rem ;
    width: 10rem;
}

.title {
    /*color: whitesmoke;*/
}

.logo-image-s4 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 15rem;
}

.home-icon {
    font-size: 2rem;
    /*color: white;*/
}
.help-icon {
    padding-top: 1rem;
}

.recent-list-item {
    /*color: white !important;*/
}

.logo-icon {
    width: 4rem;
}

.buttons-panel {
    margin: 1rem 0;
}
