.sapNdcRTCDialogOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	border: solid #666666b8;
	border-color: transparent;
	z-index: 999;
}

.sapNdcRTCDialogButton {
	position: absolute !important;
	z-index: 999;
	color: white !important;
	box-shadow: none;
	outline: none;
}

.sapNdcRTCDialogButton.closeButton {
	margin: 0.5rem 0rem 0rem 0.5rem;
}

.sapNdcRTCDialogButton.flashLightButton {
	margin: 0.5rem 0rem 0rem calc(var(--sapNdcRTCDialogVideoWidth, 100%) - 3.5rem);
}

.sapNdcRTCDialogControlFlexBoxWithoutPauseButton {
	position: absolute !important;
	z-index: 999;
	margin: calc(var(--sapNdcRTCDialogVideoHeight, 100%) - 4rem) 0rem 0.5rem calc(var(--sapNdcRTCDialogVideoWidth, 100%) / 2 - 1.5rem);
}

.sapNdcRTCDialogControlFlexBoxWithPauseButton {
	position: absolute !important;
	z-index: 999;
	width: 7rem;
	margin: calc(var(--sapNdcRTCDialogVideoHeight, 100%) - 4rem) 0rem 0.5rem calc(var(--sapNdcRTCDialogVideoWidth, 100%) / 2 - 3rem);
}

.sapNdcRTCDialogControlButton {
	color: white !important;
	box-shadow: none;
	outline: none;
	border-bottom: 0px !important;
}

.sapNdcRTCDialogBarcodeAvatar {
	position: absolute !important;
	visibility: hidden;
	z-index: 999;
	box-shadow: none;
	outline: none;
	border-bottom: 0px !important;
}

.sapNdcRTCDialogVideo {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #666666b8;
}

.sapNdcRTCDialogVideo .sapNdcRTCDialogVideoContainer {
	width: 100%;
	height: 100%;
}

.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayBox {
	width: 0px;
	height: 0px;
/*	max-height: 75vh;
	max-width: 75vh;*/
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayLine {
	height: calc(100% - 2px);
	width: 100%;
	background: linear-gradient(180deg, rgba(0, 255, 51, 0) 43%, #00ff33 211%);
	border-bottom: 3px solid #00ff33;
	transform: translateY(-100%);
	animation: radar-beam 2s infinite;
	animation-timing-function: cubic-bezier(0.53, 0, 0.43, 0.99);
	animation-delay: 1.4s;
}

.sapNdcRTCDialogImageCanvas {
	background-color: #666666b8 !important;
}

@keyframes radar-beam {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}