<html>
	<head>
		<title>Sample Application based on Smart Templates </title>
		<!-- Default Styles for unbuild tests -->
		<style>
		    body {
				background-color: #eff4f9;
				font-family: Arial,Helvetica,sans-serif;
			}
		</style>

		<!--  try to load the basic UI5 styles for standalone, WebIDE and demokit usecase -->
		<link rel="stylesheet" type="text/css" href="resources/sap/ui/core/themes/sap_horizon/library.css">
		<link rel="stylesheet" type="text/css" href="/resources/sap/ui/core/themes/sap_horizon/library.css">
		<link rel="stylesheet" type="text/css" href="../../../../../../../resources/sap/ui/core/themes/sap_horizon/library.css">
	</head>
	<body class="sapUiBody sapUiBodyBackground sapUiMediumMargin sapUiForceWidthAuto">
		<h1>Sample Applications based on Fiori Elements</h1>
		<p>These are test implementations of dedicated Fiori Elements design pattern in Fiori.</p>

		<p><em>
			To enable client side less support, add url parameter
			<b>sap-ui-xx-lesssupport=true</b>
			to any URL below after calling it. This is only necessary when running against source files.
		</em></p>

		<h2>Demokit/SDK</h2>
		These links can be used to run the application from within the Demokit/SDK (using the UI5 version shipping with the SDK).<br/>
		<ul>
			<li><a href="flpSandbox.html" rel="noopener noreferrer">Fiori Launchpad Sandbox with the test Applications (<em>less</em> disabled)</a></li>
			<li><a href="FioriLaunchpad.html" rel="noopener noreferrer">Fiori Launchpad Sandbox with the test Application (CSP enabled)</a></li>
			<li><a href="flpSandbox.html?sap-ui-xx-lesssuport=true" rel="noopener noreferrer">Fiori Launchpad Sandbox with the test Applications (<em>less</em> enabled)</a></li>
		</ul>

		<tr>
			<h5>Manage Products</h5>
		  </tr>
		  <tr>
			<th rowspan="7"></th>
			<td>
			  <li><a href="demokit.html?responderOn=true&demoApp=sttaproductstreetable" rel="noopener noreferrer">Manage Products Tree table</a> - start the Manage Products Tree table technical app with mock data</li>
			  <li><a href="demokit.html?responderOn=true&demoApp=sttaproducts" rel="noopener noreferrer">Manage Products (STTA)</a> - start the Manage Products technical app with mock data</li>
			  <li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestDynamicHeaderInFCL" rel="noopener noreferrer">Manage Products with object page dynamic header (STTA)</a> - start the Manage Products with object page dynamic header technical app with mock data</li>
			  <li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestDynamicHeaderInFCLTableTabs" rel="noopener noreferrer">Manage Products with object page dynamic header (STTA)</a> - start the Manage Products with object page dynamic header technical app with mock data, multi tabs, FCL, and reuse component</li>
			  <li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestAddressFacet" rel="noopener noreferrer">Manage Products with Address Facet in object page (STTA)</a> - start the Manage Products with Address Facet in object page technical app with mock data</li>
			  <li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestForwardNavigationProperty" rel="noopener noreferrer">Manage Products with direct navigation to text page (STTA)</a> - start the Manage Products with direct navigation to text page with mock data</li>
			  <li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestForward1ToNNavigationProperty" rel="noopener noreferrer">Manage Products with texts as entry page</a> - start the Manage Products with texts as entry page with mock data</li>
			  <li><a href="demokit.html?responderOn=true&sap-ui-debug=true&demoApp=sttaproductschange" rel="noopener noreferrer">Manage Products (STTA) With UI Changes</a> - start the Manage Products with UI Changes (Object page in Icon Tab bar mode)</li>
			  <li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestListNavigationExtension" rel="noopener noreferrer">Manage Products with  List Navigation Extension (STTA)</a> - start the Manage Products with List Navigation Extension technical app with mock data</li>
			  <li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestWithCanvas" rel="noopener noreferrer">Manage Products Canvas with  List Navigation Extension (STTA)</a> - start the Manage Products Canvas with List Navigation Extension technical app with mock data</li>
			  <li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestWithCanvaOPGridTable" rel="noopener noreferrer">Manage Products Canvas with  List Navigation Extension (STTA)</a> - start the Manage Products Canvas with List Navigation Extension technical app with mock data, using GRID table</li>
			  <li><a href="demokit.html?sresponderOn=true&demoApp=lrWithParams" rel="noopener noreferrer">List Report With Parameters</a> - start listreport with parameters</li>
		  </td>
		  </tr>
		  <tr>
			<h5>Sales Order Non Draft</h5>
		  </tr>
		  <tr>
			<th rowspan="4"></th>
			<td>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernd" rel="noopener noreferrer">Sales Orders Non Draft (STTA)</a> - Start the Sales Orders Non Draft technical app with mock data</li>
				<li><a href="flpSandbox.html#SalesOrder-nondraft?manifest=manifestWithFCL" rel="noopener noreferrer">Sales Orders Non Draft FCL (STTA)</a> - Start the Sales Orders Non Draft with FCL settings using flpSandbox & Dynamic manifest</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernd&manifest=manifestWithSemanticKey" rel="noopener noreferrer">Sales Orders Non Draft with SemanticKey (STTA)</a> - start the Sales Orders Non Draft technical app with mock data</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernd&manifest=manifestWithCopyBreakout" rel="noopener noreferrer">Sales Orders Non Draft with copy breakout (STTA)</a> - start the Sales Orders Non Draft technical app with mock data</li>
		  </td>
		  </tr>
		  <tr>
			<h5>Sales Order Item Aggregation</h5>
		  </tr>
		  <tr>
			<th rowspan="1"></th>
			<td>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesorderitemaggr" rel="noopener noreferrer">Sales Orders Item Aggregation (STTA)</a> - start the Sales Orders Item Aggregation technical app with mock data</li>
		  </td>
		  </tr>
		  <tr>
			<h5>Sales Order Multi Entity</h5>
		  </tr>
		  <tr>
			<th rowspan="2"></th>
			<td>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordermultientity" rel="noopener noreferrer">Sales Orders with Multiple Entity Sets (STTA)</a> - Sales Orders Multiple Entity Sets technical app with mock data</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordermultientity&manifest=manifestWithFCL" rel="noopener noreferrer">Sales Orders with Multiple Entity Sets (STTA)</a> - Using dynamic "manifestWithFCL.json"</li>
		  </td>
		  </tr>
		  <tr>
			<h5>Sales Order With Draft</h5>
		  </tr>
		  <tr>
			<th rowspan="4"></th>
			<td>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernoext" rel="noopener noreferrer">Sales Orders w/o Extensions (STTA)</a> - Sales Order app without extensions (for OPA tests)</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernoext&manifest=manifestMD" rel="noopener noreferrer">Sales Orders w/o Extensions (STTA) Master Detail</a> - Sales Order app without extensions Master Details</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernoext&manifest=manifestFCL" rel="noopener noreferrer">Sales Orders w/o Extensions (STTA)</a> - Using dynamic "manifestFCL.json"</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernoext&manifest=manifestFileUploader" rel="noopener noreferrer">Sales Orders w/o Extensions (STTA)</a> - Using file uploader "manifestFileUploader.json"</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernoext&manifest=manifestCanonicalRequests" rel="noopener noreferrer">Sales Orders w/o Extensions (STTA)</a> - Using dynamic "manifestCanonicalRequests.json"</li>
				<li><a href="demokit.html?responderOn=true&sap-ui-debug=true&demoApp=sttasalesordernoext" rel="noopener noreferrer">Sales Orders w/o Extensions (STTA)</a> - Sales Order with UI Changes (Excel button on the LR table)</li>
		  </td>
		  </tr>
		  <tr>
			<h5>Sales Order Table Tabs</h5>
		  </tr>
		  <tr>
			<th rowspan="1"></th>
			<td>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordertt" rel="noopener noreferrer">Sales Orders with Table Tabs (STTA)</a> - Sales Order app with table tabs on List Report (for OPA tests)</li>
		  </td>
		  </tr>
		  <tr>
			<h5>Sales Order Segmented Buttons</h5>
		  </tr>
		  <tr>
			<th rowspan="5"></th>
			<td>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersb" rel="noopener noreferrer">Sales Orders with Segmented Buttons (STTA)</a> - Sales Order app with segmented buttons on List Report (for OPA tests)</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersb&manifest=manifestWithoutReusable" rel="noopener noreferrer">Sales Order app with segmented buttons on List Report (for OPA tests)</a> - Using dynamic "manifestWithoutReusable.json"</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersb&manifest=manifestWithCanvas" rel="noopener noreferrer">Sales Order app with segmented buttons on List Report (for OPA tests)</a> - Using dynamic "manifestWithCanvas.json"</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersb&manifest=manifestMidColumnFullScreen" rel="noopener noreferrer">Sales Order app with segmented buttons on List Report (for OPA tests)</a> - Using dynamic "manifestMidColumnFullScreen.json"</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersb&manifest=manifestFCLObjectPageOnly" rel="noopener noreferrer">Sales Order app with segmented buttons on List Report (for OPA tests)</a> - Using dynamic "manifestFCLObjectPageOnly.json"</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersb&manifest=manifestKeyFieldWithAllDataTypes" rel="noopener noreferrer">Sales Order app with segmented buttons on List Report (for OPA tests)</a> - Using dynamic "manifestKeyFieldWithAllDataTypes.json"</li>
		  </td>
		  </tr>
		  <tr>
			<h5>Sales Order Worklist</h5>
		  </tr>
		  <tr>
			<th rowspan="2"></th>
			<td>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesorderwklt" rel="noopener noreferrer">Sales Orders Worklist (STTA)</a> - Sales Order Worklist app (for OPA tests)</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesorderwklt&manifest=manifestTableTabs" rel="noopener noreferrer">Sales Orders Worklist (STTA) with Table Tabs</a> - Sales Order Worklist app (for OPA tests)</li>
		  </td>
		  </tr>
		  <tr>
			<h5>Sales Order SmartList</h5>
		  </tr>
		  <tr>
			<th rowspan="2"></th>
			<td>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersmartlist" rel="noopener noreferrer">Sales Orders with Standard List</a> - Sales Order Standard List app (for OPA tests)</li>
				<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersmartlist&manifest=manifest_ObjList" rel="noopener noreferrer">Sales Orders with Object List</a> - Sales Order Object List app (for OPA tests)</li>
		  </td>
		  </tr>
		  <tr>
			<h5>Sales Order Items EditableFieldFor</h5>
		  </tr>
		  <tr>
			<th rowspan="1"></th>
			<td>
				<li><a href="demokit.html?responderOn=true&demoApp=SalesOrderItemEditableFieldFor" rel="noopener noreferrer">Sales Order Items using EditableFieldFor</a> - Sales Order Items App using EditableFieldFor</li>
		  </td>
		  </tr>
		</tr>
		<tr>
		  <h5>Analytical List Page (lesssupport)</h5>
		</tr>
		<tr>
		  <th rowspan="1"></th>
		  <td>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=analytics2" rel="noopener noreferrer">Analytical List Page</a> - start analytical list report</li>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=analytics6" rel="noopener noreferrer">Analytical List Page with MultiTable</a> - start analytical list report with multitable</li>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=alpWithParams" rel="noopener noreferrer">Analytical List Page With Parameters</a> - start analytical list report with parameters</li>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=analytics3" rel="noopener noreferrer">Analytical List Page Without Visual Filters</a> - start analytical list report without Visual filter mode</li>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=analytics4" rel="noopener noreferrer">Analytical List Page With Extensions</a> - start analytical list report with extensions</li>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=analytics5" rel="noopener noreferrer">Analytical List Page With TreeTable</a> - start analytical list Page with Tree Table</li>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=analytics2&manifest=manifestWithCanvas" rel="noopener noreferrer">Analytical List Page With Canvas page</a> - start analytical list Page with Canvas page</li>
		</td>
		</tr>
		<h3>Run locally with Runtime Adaptation (RTA)</h3>
		<ul>
			<!-- <li><a href="demokit.html?rta=true&responderOn=true&demoApp=products">demokit.html</a> - start the Manage Products app with mock data</li> -->
			<li><a href="demokit.html?rta=true&sap-ui-layer=VENDOR&responderOn=true&demoApp=sttaproducts" rel="noopener noreferrer">Manage Products</a> - start the Manage Products technical app with mock data</li>
			<li><a href="demokit.html?rta=true&sap-ui-layer=VENDOR&responderOn=true&demoApp=salesorder" rel="noopener noreferrer">Sales Order</a> - start the Sales Order app with mock data</li>
			<li><a href="demokit.html?rta=true&sap-ui-layer=VENDOR&responderOn=true&demoApp=nondraftsalesorder" rel="noopener noreferrer">Sales Order non draft</a> - start the non-draft Sales Order app with mock data</li>
		</ul>
		<h3>Message Handling with Mock Server</h3>
		<ul>
			<li><a href="indexErr.html" rel="noopener noreferrer">Generate Error Messages</a></li>
		</ul>

		<h3>For more documentation please read the <a href="https://openui5.hana.ondemand.com" rel="noopener noreferrer">UI5 Developer Guide</a>.</h3>
		<h2>Tests</h2>
		With these links you can start the QUnits and OPA tests locally. Tomcat or Jetty (build in maven) webserver needs to run in the background.
		<h2>QUnit and OPA Tests</h2>
		<ul>
			<li><a href="../../../../../../sap/suite/ui/generic/template/qunit/testsuite.qunit.html" rel="noopener noreferrer">QUnit and OPA5 Test Suite</a></li>
		</ul>
	</body>
</html>
