<!DOCTYPE html>
<html style="height:100%">

<head>
  <meta charset="utf-8">
  <title>SearchResultApp Standalone Test</title>
  <script src="../../../../../../../resources/sap-ui-core.js"
    id="sap-ui-bootstrap"
    data-sap-ui-resourceroots='{
      "sap.ushell": "../../../../../../../resources/sap/ushell",
      "sap.ushell.test": "../../../"
    }'
    data-sap-ui-libs="sap.m,sap.ushell"
    data-sap-ui-compatVersion="edge"
    data-sap-ui-theme="sap_horizon"
    data-sap-ui-async="true"
    data-sap-ui-oninit="module:sap/ushell/test/components/cepsearchresult/TestSupport">
    </script>
    <script>
      var sTheme = "sap_horizon";
      function changeSearchTerm(o) {
        var oCompCont = sap.ui.getCore().byId("appcontainer");
        var oInst = oCompCont.getComponentInstance();
        if (oInst.getRootControl() && oInst.getRootControl().getController()) {
          oInst.getRootControl().getController().changeSearchTerm(o.value);
        }
      }

      function changeEdition(o) {
        var oCompCont = sap.ui.getCore().byId("appcontainer");
        var oInst = oCompCont.getComponentInstance();
        if (oInst.getRootControl() && oInst.getRootControl().getController()) {
          oInst.getRootControl().getController().changeEdition(o.selectedOptions[0].getAttribute("key"));
        }
      }

      function changeContentDensity(o) {
        document.body.classList.remove('sapUiSizeCozy');
        document.body.classList.remove('sapUiSizeCompact');
        document.body.classList.add(o.selectedOptions[0].getAttribute("key"));
        sap.ui.getCore().applyTheme("core");
        sap.ui.getCore().applyTheme(sTheme);

      }
      function changeTheme(o) {
        sTheme = o.selectedOptions[0].getAttribute("key");
        sap.ui.getCore().applyTheme(sTheme);
      }
    </script>
  </style>
</head>

<body class="sapUiBody sapUiSizeCozy" style="height:100%">
  <div class="sapUiSmallMargin">
    <label style="display: inline-block;width: 200px">Test Search Term Change</label><input onchange="changeSearchTerm(this)"><br>
    <label  style="display: inline-block;width: 200px">Edition</label><select onchange="changeEdition(this)"><option key="standard" selected>standard</option><option key="advanced">advanced</option></select><br>
    <label style="display: inline-block;width: 200px">ContentDensity</label><select onchange="changeContentDensity(this)">
      <option key="sapUiSizeCozy" selected>cozy</option>
      <option key="sapUiSizeCompact">compact</option>
    </select><br>
    <label style="display: inline-block;width: 200px">Theme</label><select onchange="changeTheme(this)">
      <option key="sap_horizon" selected>Morning Horizon</option>
      <option key="sap_horizon_dark">Evening Horizon</option>
      <option key="sap_fiori_3">sap_fiori_3</option>
      <option key="sap_fiori_3_dark">sap_fiori_3_dark</option>
    </select><br>
  </div>
  <div data-sap-ui-component data-id="appcontainer"
    data-custom-configPath="sap/ushell/test/components/cepsearchresult/app"
    data-custom-edition="standard"
    data-name="sap.ushell.components.cepsearchresult.app" data-height="100%" style="height:100%">
  </div>
</body>

</html>