
body#content {
  width: 100% !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

label {
  display: inline-block; width: 9em;
  vertical-align: top;
}

fieldset div {
  margin-bottom: 0.5em;
}

fieldset {
  margin: 1em;
}

input {
  width: 25em
}

select {
  width: 15em
}

textarea {
  width: 25em;
}

#group1 {
  float: left;
  width: 40%;
}

#group2 {
  float: left;
  width: 60%;
}
