/* ========================================================================== */
/* CSS for:                                                                   */
/* - ushell_abap/src/test/js/sap/ushell_abap/testsuite.new.qunit.html         */
/* - ushell-lib/src/test/js/sap/ushell/qunit/teststarter.qunit.html           */
/* - ushell-lib/src/test/js/sap/ushell/qunit/testsuite.integration.qunit.html */
/* - ushell-lib/src/test/js/sap/ushell/qunit/testsuite.qunit.html             */
/* - ushell-lib/src/test/js/sap/ushell/qunit/testsuite.unit.qunit.html        */
/* ========================================================================== */

html,
body {
  /* enables full viewport usage and scrolling */
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
}

#qunit-fixture#qunit-fixture {
  /* displays test fixture elements (nicer debugging) */
  all: revert;
  position: relative;
}

.sapUiOpaBodyComponent.sapUiOpaBodyComponent {
  /* prevents overlapping QUnit UI with OPA execution */
  position: absolute;
  width: 80%;
  left: 20%;
}