/* NOTE: This file was generated as an optimized version of "library.source.less" for the Theme Designer. */

@import "../../../../../../Base/baseLib/baseTheme/base.less"; /* ORIGINAL IMPORT PATH: "../../../../../sap/ui/core/themes/base/base.less" */

@import "../../../../../sap/ui/core/themes/base/global.less";
/* START "Token.less" */
.sapFeControlsToken {
	.sapFeControlsTokenPropertyName {
		color: var(--sapLinkColor);
	}

	&.sapFeTokenError {
		background-color: @sapUiFieldInvalidBackground;
		border: 0.0625rem solid @sapUiFieldInvalidColor;
	}

	.sapFeControlsTokenPropertyValues {
		margin-left: 0.25rem;
		font-weight: bold;
		&.sapFeControlsTokenMandatory {
			font-weight: normal;
			color: @sapField_PlaceholderTextColor;
		}
	}
	&:not(.sapFeControlsTokenMandatory) {
		padding-right: 0.3125rem;
	}
	&:first-child {
		margin-left: 0.3125rem;
	}
	&:nth-child(1):not(:first-line) {
		margin-left: 0;
	}
}

.sapFeControlsToken.sapFeControlsTokenMandatory {
	padding-right: 0.3125rem;
	.sapFeControlsTokenPropertyName {
		max-width: none;
		&::after {
			content: "*";
			color: @sapUiFieldRequiredColor;
			font-family: @sapUiFontFamily;
			font-size: @sapMFontLargeSize;
			font-weight: bold;
			vertical-align: middle;
			line-height: 0;
			margin-left: 0.125rem;
		}
	}
}

html.sap-desktop .sapFeControlsToken.sapFeTokenError:not(.sapMTokenSelected):not(.sapMTokenReadOnly):not(:focus):hover {
	background-color: transparent;
	border: 0.0625rem solid @sapUiFieldInvalidColor;
}

/* END "Token.less" */

/* START "EasyFilter.less" */
.sapFeControlsTitleBorder {
	border-bottom: 1px solid var(--sapList_BorderColor);
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	background-color: @sapNeutralBackground;
}

.sapFEControlsPointer {
	cursor: pointer !important;
}

.sapFEControlsPopover {
	max-width: 68.5625rem;
	.sapMPopoverCont {
		width: inherit !important;
	}
	.sapFEControlsSuggestionsContainer {
		.sapMFlexItem {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
			max-width: 100%;
			.sapMBtn {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
				max-width: 100%;
			}
		}
	}
}
.sapUiMedia-DeviceSet-small .sapFEControlsPopover {
	margin-right: 1rem;
	left: 1rem !important;
}

.sapMPopover.sapFEControlsPopover .sapMPopoverScroll {
	display: inherit;
}
.sapFEControlsPopover {
	margin-right: 3rem;
	left: 3rem !important;
}

@media (min-width: 600px) and (max-width: 1439px) {
	.sapFEControlsPopover {
		left: 2rem !important;
	}
}

.sapFeControlsTokenizer.sapMTokenizer {
	padding-left: 0;
	.sapMTokenizerScrollContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

html.sap-desktop .sapMTokenizer.sapFeControlsTokenizer {
	&:focus {
		outline: none;
	}
	&:focus-visible {
		outline: @sapContent_FocusWidth @sapContent_FocusStyle @sapContent_FocusColor;
	}
}
.sapFeControlsGap8px {
	gap: 0.5rem;
}

.sapFeControlsAiPopoverText1 {
	padding: 1rem 1rem 0.5rem 1rem;
}

.sapFeControlsAiPopoverText2 {
	padding: 0.5rem 1rem 1rem 1rem;
}
.sapFEEasyFilterInput {
	width: 100%;
}

/* END "EasyFilter.less" */

/* START "InlineEditIndicator.less" */
.sapFeInlineEditIndicator {
	position: absolute;
	z-index: 1;
	border-top: 1px solid var(--sapField_BorderColor);
	display: block;
}

.sapFeInlineEditIndicatorIcon {
	float: right;
	box-shadow: var(--sapContent_Shadow2);
	width: 40px;
	height: 32px;
	border-radius: var(--sapButton_BorderCornerRadius);
	border: var(--sapButton_BorderColor);
	background-color: var(--sapButton_Background);
}
.sapFeInlineEditIndicatorIcon.sapFeInlineEditIndicatorAcceptDeclineIcon {
	width: 4.65rem;
}
.sapFeInlineEditIndicatorIcon .sapMBtn {
	padding-top: 0.1rem;
	padding-left: 0.15rem;
	width: 2rem;
	height: 1.625rem;
	margin: 0.1rem;
}
.sapFeInlineEditIndicatorIcon .sapMBtnInner {
	width: 2rem;
	height: 1.625rem;
	min-width: 2rem;
}

.sapFeInlineEditIndicatorIcon .sapMBtnIcon {
	line-height: 1.625rem;
	height: 1.625rem;
	width: 2rem;
}

.sapFeInlineEditIndicatorEditMode {
	border-top: 0px;
}

/* END "InlineEditIndicator.less" */

/* START "UnitCurrencyHbox.less" */
.sapFeControlsUnitCurrencyHbox {
	direction: ltr;
}

/* END "UnitCurrencyHbox.less" */

/* START "EasyFill.less" */
.sapFeEasyFillReviewArea {
	background-color: var(--sapShell_Background);
}

.sapFeEasyFillReviewArea > .sapMFlexItem.sapUiContentPadding {
	padding: 0;
}

.sapFeEasyFillPlaceholder {
	background-color: var(--sapShell_Background);
	height: 100%;
}

/* END "EasyFill.less" */

/* START "QuickView.less" */
.sapFeQuickViewFullWidth {
	width: 100%;
}

/* END "QuickView.less" */

